# R specific
.RData
.RDataTmp
.Renviron
.Rhistory
.Rproj.user/
.Ruserdata
*_cache
*.rds
*.Rproj
/*.Rcheck/

# possible notebook outputs
*_cache/
/cache/
*.html
*.pdf

# binary files
*.jpg
*.png
*.svg
*.tiff
*.xls
*.xlsx